{% include 'header.html' %}
<div style="margin: 5px;">
    <form method="POST" class="form-inline" action="/post/create">
        <label for="title">Enter Title</label><br>
        <input type="text" id="title" name="title" placeholder="Title" required><br><br>
        <label for="content">Enter Content</label><br>
        <textarea id="content" name="content" placeholder="Post Content" rows="5" cols="45" required></textarea><br><br>
        <button type="submit">Create Post</button>
    </form>
</div>

{% include 'footer.html' %}